@import "variables";

@font-face {
  font-family: 'laRucheFont';
  src:  url('#{$icomoon-font-path}/laRucheFont.eot?9924h3');
  src:  url('#{$icomoon-font-path}/laRucheFont.eot?9924h3#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/laRucheFont.ttf?9924h3') format('truetype'),
  url('#{$icomoon-font-path}/laRucheFont.woff?9924h3') format('woff'),
  url('#{$icomoon-font-path}/laRucheFont.svg?9924h3#laRucheFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'laRucheFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lricon-people {
  &:before {
    content: $lricon-people;
  }
}
.lricon-bubble {
  &:before {
    content: $lricon-bubble;
  }
}
.lricon-1 {
  &:before {
    content: $lricon-1;
  }
}
.lricon-2 {
  &:before {
    content: $lricon-2;
  }
}
.lricon-3 {
  &:before {
    content: $lricon-3;
  }
}
.lricon-4 {
  &:before {
    content: $lricon-4;
  }
}
.lricon-smiley {
  &:before {
    content: $lricon-smiley;
  }
}
.lricon-picto-logo {
  &:before {
    content: $lricon-picto-logo;
  }
}
.lricon-facebook {
  &:before {
    content: $lricon-facebook;
  }
}
.lricon-more {
  &:before {
    content: $lricon-more;
  }
}
.lricon-website {
  &:before {
    content: $lricon-website;
  }
}
.lricon-adresse {
  &:before {
    content: $lricon-adresse;
  }
}
.lricon-negative {
  &:before {
    content: $lricon-negative;
  }
}
.lricon-pig {
  &:before {
    content: $lricon-pig;
  }
}
.lricon-postive {
  &:before {
    content: $lricon-postive;
  }
}
.lricon-scroll {
  &:before {
    content: $lricon-scroll;
  }
}
.lricon-search {
  &:before {
    content: $lricon-search;
  }
}
.lricon-reussite .path1 {
  &:before {
    content: $lricon-reussite-path1;
    color: rgb(229, 185, 0);
  }
}
.lricon-reussite .path2 {
  &:before {
    content: $lricon-reussite-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.lricon-reussite .path3 {
  &:before {
    content: $lricon-reussite-path3;
    margin-left: -1em;
    color: rgb(229, 185, 0);
  }
}
.lricon-twitter {
  &:before {
    content: $lricon-twitter;
  }
}

.hide {
  display: none;
}

.pointer {
  cursor: pointer;
}

/*.layout-column {
  @include flex-function(column, space-around, center);
}

.layout-column-flex-start-center {
  @include flex-function(column, flex-start, center);
}

.layout-row-flex-start-top {
  @include flex-function(row, flex-start, flex-start);
}

.layout-column-flex-start-start {
  @include flex-function(column, flex-start, flex-start);

}

.layout-column-space-around-center {
  @include flex-function(column, space-around, center);
}

.layout-column-flex-end-center {
  @include flex-function(column, flex-end, center);
}

.layout-row-flex-start-center {
  @include flex-function(row, flex-start, center);
}
.layout-row-flex-end-center{
  @include flex-function(row, flex-end, center);
}
.layout-row-flex-start-end{
  @include flex-function(row, flex-start, flex-end);
}
.layout-row-flex-end-end{
  @include flex-function(row, flex-end, flex-end);
}

.layout-row-center-center {
  @include flex-function(row, center, center);
}

.layout-row-space-between {
  @include flex-function(row, space-between, center);
}

.layout-row-space-around {
  @include flex-function(row, space-around, center);
}

.layout-row-top {
  @include flex-function(row, space-around, flex-start);
}

.layout-row-flex-start-center {
  @include flex-function(row, flex-start, center);
}
.layout-row-flex-start-start {
  @include flex-function(row, flex-start, flex-start);

}*/

.lr-link-button {
  padding: 12px 25px;
  border: 1px solid $yellow;
  border-radius: 4px;
  color: $black;
  box-sizing: border-box;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    color: $white;
    background: $yellow;
  }
}

.lightbox-container {
  height: 0vh;
  width: 0vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(33, 33, 33, 0.8);
  z-index:1;
  overflow:hidden;
  transition : all .25s ease;
}

.lightbox-shadow {
  position:absolute;
  height: 100vh;
  width: 100vw;
  left:0vw;
  top:0vh;

}
.lightbox{
  position:absolute;
  height: 70vh;
  width: 80vw;
  //@include absolute-center();
  background: $black;
  overflow: scroll;
  video {
    width: 100%;
    height: auto;
  }
}

.lightbox-open .lightbox-container {
  height: 100vh;
  width: 100vw;
}


.lr-shadow {
  -moz-box-shadow: 1px 1px 3px 2px #EEEEEE;
  -webkit-box-shadow: 1px 1px 3px 2px #EEEEEE;
  -o-box-shadow: 1px 1px 3px 2px #EEEEEE;
  box-shadow: 1px 1px 3px 2px #EEEEEE;
}

.lr-CTA {
  padding: 8px 25px;
  background: $yellow;
  color: $black;
  border-radius: 40px;
}
