// bower:scss
// endbower
@import "reset";
@import "mixin";
@import "variables";
@import "gui";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  background-color: #000000;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.navbar .container {
  width: 100%;
  padding: 10px 10px;
  box-sizing: border-box;
  ul {
    li {
      &:first-child {
        margin-right: 10px;
      }
    }
    .icon {
      font-size: 40px;
    }
  }
}

.footer {
  height: 90px;
  .container {
    background: $black;
    width: 100%;
    height: 100%;
    a, p {
      color: $white;
    }
  }
}

.logo {
  width: 300px;
  height: auto;
}

.login {
  height: 100vh;
}

a {
  text-decoration: none;
  color: $white;
}

.article1 {
  height: 40vh;
  padding: 20px;
  box-sizing: border-box;
  h1 {
    margin-bottom: 20px;
    color: $blue;
  }
  .cta-list {
    li:first-child {
      margin-right: 10px;
    }
  }
}

.messengerBox {
  overflow: auto;
  .message-wrapper {
    padding: 20px;
  }
}

.header-room {
  height: 70px;
  background: $yellow;
  .back-link {
    width: 200px;
  }
}

.send-message {
  height: 80px;
}

.chat {
  height: 100%;
  & > div {
    width: 100%;

  }
}

.sidebar {
  text-transform: uppercase;
  .save {
    height: 65px;
    color: $white;
    font-size: 12px;
    background: $yellow;
    width: 100%;
    position: relative;
    &:after {
      content: '';
      display: block;
      height: 15px;
      width: 15px;
      transform: rotate(45deg) translateX(-50%);
      position: absolute;
      bottom: -13px;
      z-index: 1;
      left: 50%;
      background: $yellow;
    }
  }
  .up-container {
    width: 100%;
    height: 375px;
  }
  .edit {
    width: 100%;
    font-size: 13px;
  }
  .user-info {
    height: 32px;
  }
  img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 1px solid $white;
    margin-bottom: 5px;
    padding: 0;
  }
  .my-info {
    background: $black-blue;
    width: 100%;
    font-size: 13px;
    .user-name {
      text-align: center;
    }
  }
  .back-home {
    height: 45px;
    width: 100%;
    background: $white;
    color: $blue;
    padding-left: 20px;
    font-size: 12px;
  }
  .up, .header-app {
    width: 100%;
  }
  .header-app {
    background: $yellow;
    .icon {
      font-size: 65px;
    }
  }
  background: $blue;
  width: 200px;
  color: $white;
  .lr-link-button {
    margin-bottom: 10px;
    font-size: 10px;
    padding: 5px;
    color: $white;
  }
  #footer {
    p {
      font-size: 10px;
    }
  }
}

.chatroom {
  & > div {
    width: 100%;
  }
  md-content {
    position: relative;
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding-top: 80px;
  }
}

.extend-header {
  &.no-scrolled {
    opacity: 0;
    &.link-page {
      width: 0;
    }
    &.social {
      link: 0;
    }
  }
  .no-scrolled {
    opacity: 1;
  }
  &.link-page {
    width: 300px;
    z-index: 100;
    .icon {
      font-size: 50px;
      margin: 0;
    }
    .lr-link-button {
      border: none;
    }
  }
  &.social {
    z-index: 100;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    li {
      &:first-child {
        margin-right: 10px;
      }
    }
    a {
      color: $black;
    }
    .icon {
      font-size: 30px;
    }
  }
}

.lr-link-button {
  height:40px;
  padding: 0 20px;
  border: 1px solid $yellow;
  border-radius: 20px;
  color: $black;
  box-sizing: border-box;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  &.black{
    border: 1px solid $black;
    &:hover{
      background: $black;
      color: $white;
    }
  }
  &:hover {
    color: $white;
    background: $yellow;
  }
}

.card-header{
  color: $white;
  .icon{
    font-size:30px;
  }
}

.card-header-text{
  margin:20px 0;
  color: $white;
}


input[type=search] {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 5px 0 80px;
  -webkit-border-radius: 5px;
  border-radius: 3px;
  z-index: 10;
}

input[type=search]:focus {
  outline-style: none;
}

input[type=submit] {
  padding: 5px 15px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
}

.search-bar {
  position: absolute;
  bottom:0;
  left: 50%;
  transform: translate(-50%, 25px);
  height: 40px;
  width: 50vw;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: $white;
  transition: width 0.25s ease, left 0.25s ease, transform 0.25s ease;
  z-index: 1;
  & > div {
    width: 100%;
    height: calc(100% - 8px);
    border-radius: 3px;
    background: $white;
  }
  &.open {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(0);
  }
  .search-input {
    flex: 1;
    position: relative;
    z-index: 100;
    height: 100%;
  }
  .lricon-search {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 11;
  }
  &:before {
    content: '';
    display: block;
    height: 50%;
    width: 100%;
    background: $white;
    position: absolute;
    bottom: 0;
    left: 0;
    -moz-box-shadow: 1px 1px 3px 2px #EEEEEE;
    -webkit-box-shadow: 1px 1px 3px 2px #EEEEEE;
    -o-box-shadow: 1px 1px 3px 2px #EEEEEE;
    box-shadow: 1px 1px 3px 2px #EEEEEE;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#EEEEEE, Direction=134, Strength=3);
    border-radius: 3px;
    z-index: -1;
  }
  &:after {
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: $yellow;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 10;
    transition: width 0.2s ease;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

  }
  &:hover {
    &:after {
      width: 100%;
    }
  }
}

.title-content {
  height: 110px;
  color: $white;
  background: url("../assets/images/bg_header.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  &>div{
    height:65px;
    width:100%;
    position: relative;
    h3{
      @include absolute-center();
    }
  }
  .social {
    font-size: 40px;
    li{
      &:hover{
        a{
          color: $yellow;

        }
      }
      &:first-child {
        margin-right: 10px;
      }
    }
  }
}

.card-room{
  background: url("../assets/images/alveole_chat.svg.svg")no-repeat center center;
  background-size: cover;
  height:300px;
  width:230px;
  margin:0 20px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container.main-container {
  height: 100%;
}

.container {
  height: 100%;
  & > div {
    height: 100%;
  }
}

.down {
  height: 60px;
  width: 100%;
  background: $black-blue;
  font-size: 13px;
}

.fourthArticle {
  padding: 30px 20px 40px 20px;

  .title-container {
    .triangle-1 {
      position: absolute;
      height: 280px;
      width: 280px;
      font-size: 0;
      background: url("../assets/images/alveoleombre.svg") no-repeat right bottom;
      z-index: 0;
      bottom: 60px;
      right: 0;
    }
    h1 {
      color: $blue;
    }
  }
  .articleWrapper > div {
    &:first-child {
      margin-top: 100px;
    }
  }

  .article-container {

  }
  .article-container {
    width: 100%;
    height: 270px;
    article {
      width: 40vw;
      .number-etape {
        font-size: 100px;
        color: $grey;
      }
      p {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 3px;

        color: $blue;
        font-size: 20px;
        line-height: 35px;
        .icon {
          color: $yellow;
          font-size: 35px;
        }
      }
    }
    .order-1 {
      transform: translateX(20vw);
      & > div {
        order: 0;
        & > div {
          position: absolute;
          height: 280px;
          width: 280px;
          font-size: 0;
          background: url("../assets/images/alveoleombre2.svg") no-repeat center center;
          left: -100px;
          bottom: -30px;
          z-index: 1;
          .icon {
            position: absolute;
            top: -20px;
            left: 0;
          }
        }
      }
      p {
        z-index: 2;
        order: 1;
        .icon {
          margin-right: 20px;
          order: 0;
          & + span {
            order: 1;
          }
        }
      }
    }
    .order-2 {
      transform: translateX(-20vw);
      & > div {
        order: 1;
        & > div {
          position: absolute;
          height: 280px;
          width: 280px;
          font-size: 0;
          background: url("../assets/images/alveoleombre.svg") no-repeat center center;
          right: -100px;
          bottom: -30px;
          z-index: 1;
          .icon {
            position: absolute;
            top: -20px;
            right: 0;
          }
        }
      }
      p {
        z-index: 2;
        order: 0;
        .icon {
          margin-left: 20px;
          order: 1;
          & + span {
            order: 0;
          }
        }
      }
    }
  }
}

/*Custom body*/
.profil-picture {
  margin: auto;
  max-width: 200px;
  border-radius: 100px;
  display: block;
}

.mentionWrapper {
  display: block;
  height: 100%;
  width: 100%;
  overflow: scroll;
  background: $bg-grey;
  padding: 20px;
  h1, h2, h3, h4, h5 {
    margin: 25px 0;
    color: $blue;
  }
  p {
    margin-bottom: 8px;
    color: $black;
    line-height: 20px;
  }
  a {
    color: $yellow;
  }
}

.video {
  height: 100vh;
  width: 100%;
  position: relative;
  background-size: cover;
  .section-container {
    height: 100%;
    width: 100%;
  }
  .player-action {
    display: block;
    @include absolute-center();
    width: 100%;
    height: 100%;
    background: url("../assets/images/player.svg") no-repeat center center;
  }

}

.hive {
  display: block;
  content: '';
  height: 100vh;
  width: 50vw;
  position: absolute;
  font-size: 0;
  overflow: hidden;
  background-size: contain;
}

.hive1 {
  top: 0;
  left: -15vw;
  background: url("../assets/images/bg_video-01.svg") no-repeat center center;
}

.hive2 {
  bottom: -10vh;
  right: -15vw;
  background: url("../assets/images/bg_video-02.svg") no-repeat center center;
}

.back-link {
  color: black;
}

/*Chatrooms*/
.room-title {
  display: block;
  width: 100%;
}

/* Custom page footer */

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
