// bower:scss
// endbower
@import "reset";
@import "mixin";
@import "variables";
@import "gui";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  background-color: #000000;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}
.navbar .container{
  width:100%;
  padding: 10px 10px;
  box-sizing: border-box;
  ul{
    li{
      &:first-child{
        margin-right: 10px;
      }
    }
    .icon{
      font-size:40px;
    }
  }
}

.footer {
  height:90px;
  .container{
    background: $black;
    width:100%;
    height:100%;
    a,p{
      color:$white;
    }
  }
}
.logo{
  width:300px;
  height: auto;
}

.login{
  height:100vh;
}
a{
  text-decoration: none;
  color: $white;
}

.article1{
  height:40vh;
  padding: 20px;
  box-sizing: border-box;
  h1{
    margin-bottom: 20px;
    color:$blue;
  }
  .cta-list{
    li:first-child{
      margin-right: 10px;
    }
  }
}

.fourthArticle {
  padding: 30px 20px 40px 20px;

  .title-container {
    .triangle-1 {
      position: absolute;
      height: 280px;
      width: 280px;
      font-size: 0;
      background: url("../assets/images/alveoleombre.svg") no-repeat right bottom;
      z-index: 0;
      bottom: 60px;
      right: 0;
    }
    h1 {
      color: $blue;
    }
  }
  .articleWrapper>div{
    &:first-child{
      margin-top: 100px;
    }
  }

  .article-container {

  }
  .article-container {
    width: 100%;
    height: 270px;
    article {
      width: 40vw;
      .number-etape {
        font-size: 100px;
        color: $grey;
      }
      p {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 3px;

        color: $blue;
        font-size: 20px;
        line-height: 35px;
        .icon {
          color: $yellow;
          font-size: 35px;
        }
      }
    }
    .order-1 {
      transform: translateX(20vw);
      & > div {
        order: 0;
        & > div {
          position: absolute;
          height: 280px;
          width: 280px;
          font-size: 0;
          background: url("../assets/images/alveoleombre2.svg") no-repeat center center;
          left: -100px;
          bottom: -30px;
          z-index: 1;
          .icon {
            position: absolute;
            top: -20px;
            left: 0;
          }
        }
      }
      p {
        z-index: 2;
        order: 1;
        .icon {
          margin-right: 20px;
          order: 0;
          & + span {
            order: 1;
          }
        }
      }
    }
    .order-2 {
      transform: translateX(-20vw);
      & > div {
        order: 1;
        & > div {
          position: absolute;
          height: 280px;
          width: 280px;
          font-size: 0;
          background: url("../assets/images/alveoleombre.svg") no-repeat center center;
          right: -100px;
          bottom: -30px;
          z-index: 1;
          .icon {
            position: absolute;
            top: -20px;
            right: 0;
          }
        }
      }
      p {
        z-index: 2;
        order: 0;
        .icon {
          margin-left: 20px;
          order: 1;
          & + span {
            order: 0;
          }
        }
      }
    }
  }
}

/*Custom body*/
.profil-picture{
  margin:auto;
  max-width: 200px;
  border-radius: 100px;
  display: block;
}
.mentionWrapper {
  display: block;
  height: 100%;
  width: 100%;
  overflow: scroll;
  background: $bg-grey;
  padding: 20px;
  h1,h2,h3,h4,h5{
    margin: 25px 0;
    color:$blue;
  }
  p{
    margin-bottom: 8px;
    color: $black;
    line-height: 20px;
  }
  a{
    color: $yellow;
  }
}

.video {
  height: 100vh;
  width: 100%;
  position: relative;
  background-size: cover;
  .section-container {
    height: 100%;
    width: 100%;
  }
  .player-action {
    display: block;
    @include absolute-center();
    width: 100%;
    height: 100%;
    background: url("../assets/images/player.svg") no-repeat center center;
  }

}
.hive {
  display: block;
  content: '';
  height: 100vh;
  width: 50vw;
  position: absolute;
  font-size: 0;
  overflow: hidden;
  background-size: contain;
}

.hive1 {
  top: 0;
  left: -15vw;
  background: url("../assets/images/bg_video-01.svg") no-repeat center center;
}

.hive2 {
  bottom: -10vh;
  right: -15vw;
  background: url("../assets/images/bg_video-02.svg") no-repeat center center;
}
.back-link{
  color:black;
}
/*Chatrooms*/
.room-title{
  display:block;
  width: 100%;
  padding:15px;
}
/* Custom page footer */

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
