/*height*/
$navHeight:120px;

/*color*/

$yellow:#e5b900;
$blue:#2a2eb2;
$black:#1B1B1B;
$black-blue:#24289b;
$white:#FFF;
$lr-grey:#bdc3c7;
$bg-light-grey:#ecf0f1;
$bg-grey:#F9F9F9;
$light-grey:#f8f8f8;
$light-yellow:#ffd800;
$lr-blue:#24289b;
/*icons*/

$lricon-facebook: "\e976";
$lricon-twitter: "\e977";
$lricon-picto-logo: "\e902";
$lricon-back: "\e903";
$lricon-delete: "\e91f";
$lricon-doodle: "\e924";
$lricon-go: "\e932";
$lricon-help: "\e935";
$lricon-home: "\e936";
$lricon-letter: "\e93d";
$lricon-like: "\e93e";
$lricon-link: "\e93f";
$lricon-list: "\e940";
$lricon-location: "\e941";
$lricon-lock: "\e942";
$lricon-messages: "\e947";
$lricon-mic: "\e948";
$lricon-more: "\e94b";
$lricon-plus: "\e955";
$lricon-pulse: "\e95a";
$lricon-send: "\e961";
$lricon-settings: "\e962";
$lricon-share: "\e963";
$lricon-slider: "\e964";
$lricon-unlike: "\e96e";
$lricon-user: "\e970";
$lricon-1: "\e910";
$lricon-2: "\e911";
$lricon-3: "\e912";
$lricon-4: "\e913";
/*font path*/

$icomoon-font-path: "/assets/fonts" !default;

$shadow-opacity:0.1s;

