/*height*/
$navHeight:120px;

/*color*/

$yellow:#ffd41d;
$blue:#2a2eb2;
$black:#1B1B1B;
$white:#FFF;
$grey:#dadada;
$bg-grey:#F9F9F9;
/*icons*/

$lricon-people: "\e90e";
$lricon-bubble: "\e90f";
$lricon-1: "\e910";
$lricon-2: "\e911";
$lricon-3: "\e912";
$lricon-4: "\e913";
$lricon-smiley: "\e914";
$lricon-picto-logo: "\e902";
$lricon-facebook: "\e900";
$lricon-more: "\e901";
$lricon-website: "\e903";
$lricon-adresse: "\e904";
$lricon-negative: "\e905";
$lricon-pig: "\e906";
$lricon-postive: "\e907";
$lricon-scroll: "\e908";
$lricon-search: "\e909";
$lricon-reussite-path1: "\e90a";
$lricon-reussite-path2: "\e90b";
$lricon-reussite-path3: "\e90c";
$lricon-twitter: "\e90d";
/*font path*/

$icomoon-font-path: "/assets/fonts" !default;

