<div layout="row" class="container" layout-align="start start">
  <div class="sidebar shadow" layout="column" layout-align="space-between start">
    <div class="up-container">
      <div class="up" flex layout="column" layout-align="start start">
        <div class="header-app" layout="row" layout-align="center center">
          <span class="icon lricon-picto-logo"></span>
        </div>
        <div class="back-home" layout="row" layout-align="start center">
          <span class="icon lricon-back"></span>
          <span>Accueil</span>
        </div>
        <div class="my-info" layout="column" layout-align="center center" layout-padding>
          <div class="edit" layout="row" layout-align="end center">
            <a href="#!profile"
               title="Editer mon profil"
               class="md-raised md-primary launch" layout="row" layout-align="end center">
              <span class="icon lricon-edit"></span>
              Éditer
            </a>
          </div>
          <img class="user-pic" ng-src="{{firebaseUser.photoURL}}"/>
          <div class="user-info">
            <div class="user-name">
              {{ user.displayName }}
            </div>
            <div class="actions">
              <a href="#!/panel/chatroom/create" ng-show="user.accessLevel >= 20">
                Créer une chatrooms
              </a>
            </div>
          </div>
        </div>
        <div class="save" layout layout-align="center center">
          alvéoles enregistrées
        </div>
      </div>
    </div>
    <div class="down" layout="column " layout-align="center center">
      <a href="/" ng-click="logout()">Déconnection<span class="icon lricon-settings"></span></a>
    </div>
  </div>
  <div class="chat content-app" layout="column" layout-align="start start" flex>
    <div class="header-room shadow" layout="row" layout-align="space-between center">
      <a class="back" ng-href="#!/panel" layout layout-align="start center"><span class="icon lricon-back"></span>Retour</a>
      <div class="room-title" flex>
        <h2>{{ chatroomName }}</h2>
      </div>
      <button class="lr-add-button" layout="row" layout-align="center center"><span class="icon lricon-plus"></span>Ajouter cette room</button>
    </div>
    <div class="messengerBox" flex>
      <div class="message-wrapper">
        <h5>Exprime toi !</h5>
        <div class="message" ng-repeat="message in messages">
          <div class="message-container isUser(message.uid)">
            <div class="message-info" layout layout-align="start start">
              <div class="left">
                <img alt="photo profil user"/>
              </div>
              <div class="right" layout="column" layout-align="start start">
                <div class="user-name" layout="row" layout-align="start center">
                  {{ getUserName(message.uid) }}
                  <span class="timestamp">{{ message.timestamp | date:'h:mm ' }}</span>
                </div>
                <div class="message-text">
                  {{ message.body }}
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="send-message shadow-top" layout layout-align="center center">
      <form ng-submit="sendMessage()">
          <input ng-model="message" rows="5"
                 placeholder="Message"/>
      </form>
    </div>
  </div>
</div>
