<div layout="row" class="container" layout-align="start start">

  <div class="sidebar" layout="column" layout-align="space-between start">
    <div class="up-container">
      <div class="up" flex layout="column" layout-align="start start">
        <div class="header-app" layout="row" layout-align="center center">
          <span class="icon lricon-picto-logo"></span>
        </div>
        <div class="back-home" layout="row" layout-align="start center">
          <span class="icon lricon-back"></span>
          <span>Accueil</span>
        </div>
        <div class="my-info" layout="column" layout-align="center center" layout-padding>
          <div class="edit" layout="row" layout-align="end center">
            <a href="#!profile"
               title="Editer mon profil"
               class="md-raised md-primary launch" layout="row" layout-align="end center">
              <span class="icon lricon-edit"></span>
              Éditer
            </a>
          </div>
          <img class="user-pic" ng-src="{{firebaseUser.photoURL}}"/>
          <div class="user-info">
            <div class="user-name">
              {{ user.displayName }}
            </div>
            <div class="actions">
              <a href="#!/panel/chatroom/create" ng-show="user.accessLevel >= 20">
                Créer une chatrooms
              </a>
            </div>
          </div>
        </div>
        <div class="save" layout layout-align="center center">
          alvéoles enregistrées
        </div>
      </div>
    </div>
    <div class="down" layout="column " layout-align="center center">
      <a href="/" ng-click="logout()">Déconnection<span class="icon lricon-settings"></span></a>
    </div>
  </div>
  <div class="chat" layout="column" layout-align="start start" flex>
    <div class="header-room" layout="row" layout-align="start center">
      <a class="back-link" ng-href="#!/panel">< Liste des rooms </a>
      <div class="room-title">
        <h2 class="md-title"># {{ chatroomName }}</h2>
        <md-divider ng-if="!$last"></md-divider>
      </div>
    </div>
    <div class="messengerBox" flex>
      <div class="message-wrapper">
        <div class="message-wrap" ng-repeat="message in messages">
          <div class="message-container isUser(message.uid)">
            <div class="message-info">
              <div class="user-name">
                {{ getUserName(message.uid) }} :
                <span class="timestamp">{{ message.timestamp | date:'short' }}</span>
              </div>
              <div class="message">
                {{ message.body }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="send-message">
      <form ng-submit="sendMessage()">
        <md-input-container class="md-block">
          <input ng-model="message" md-maxlength="100" rows="5" md-select-on-focus
                 placeholder="Message #{{ chatroomName }} :"></input>
        </md-input-container>
      </form>
    </div>
  </div>
</div>
