<div layout="row" class="container" layout-align="start start">
  <div class="sidebar shadow" layout="column" layout-align="space-between start">
    <div class="up-container">
      <div class="up" flex layout="column" layout-align="start start">
        <div class="header-app" layout="row" layout-align="center center">
          <span class="icon lricon-picto-logo"></span>
        </div>
        <div class="back-home" layout="row" layout-align="start center" ng-href="#/">
          <span class="icon lricon-back"></span>
          <span>Accueil</span>
        </div>
        <div class="actions">
          <a ng-if="!user.isMentor" href="#!/panel/findmymentor">
            Trouver un mentor
          </a>
          <a href="#!/panel/">
            Discussions libres
          </a>
          <a href="#!/panel/chatroom/create" ng-show="user.accessLevel >= 20">
            Créer une chatrooms
          </a>
        </div>
        <div class="my-info" layout="column" layout-align="center center" layout-padding>
          <div class="edit" layout="row" layout-align="end center">
            <a href="#!profile"
               title="Editer mon profil"
               class="md-raised md-primary launch" layout="row" layout-align="end center">
              <span class="icon lricon-edit"></span>
              Éditer
            </a>
          </div>
          <img class="user-pic" ng-src="{{user.photoURL}}"/>
          <div class="user-info">
            <div class="user-name">
              {{ user.displayName }}
            </div>
          </div>
        </div>
        <div class="save" layout layout-align="center center">
          alvéoles enregistrées
        </div>
      </div>
    </div>
    <div class="room-list-wrapper" flex layout="column" layout-align="start center">
      <div class="room-list" layout="column" layout-align="start center">
        <div class="room pointer" ng-repeat="room in ChatroomsList" ng-click="enterChat(room)">
          <div layout layout-align="center center">
            <div>{{getRoomName(room)}}</div> <span class="icon lricon-messages margin-left"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="down" layout="column " layout-align="center center">
      <a href="/" ng-click="logout()">Déconnection<span class="icon lricon-settings margin-left"></span></a>
    </div>
  </div>
  <div class="content-app" layout="column" layout-align="start start" flex class="chatroom">
    <div class="title-content shadow" layout layout-align="start start">
      <div layout="row" layout-align="end center">
        <h3 class="md-title">Trouve ton mentor</h3>
        <ul class="social" layout="row" layout-align="space-between center">
          <li><a title="Page Facebook de La Ruuche" class="social-facebook" href="https://www.facebook.com/laruuche/" target="_blank"><span class="icon lricon-facebook"></span></a></li>
          <li><a title="Profil Twitter de La Ruuche" class="social-twitter"href="https://twitter.com/LaRuuche" target="_blank"><span class="icon lricon-twitter"></span></a></li>
        </ul>
      </div>

      <!--<form class="search-bar" layout layout-align="start center">
        <div class="" layout="row" layout-align="start start">
          <div class="search-input" layout layout-align="start center">
            <span class="icon lricon-search"></span>
            <input id="search" class="flex-1" type="search" placeholder="Recherche de mots clefs" flex/>
          </div>
        </div>
      </form>-->
    </div>
    <div class="wrapper room-wrapper" layout="column" layout-align="start start" flex>
      <md-content layout="row" layout-align="start start" class="inset-shadow" layout-wrap>
        <!--Search bar -->

        <!-- Find my mentor -->
        <div class="card-room" ng-repeat="(key, mentor) in mentors" layout="column" layout-align="center center">
          <div class="card-header" layout="column" layout-align="center center">
            <div>
              <span class="icon lricon-messages"></span>
            </div>
            <div class="card-header-text">
              <span class="title-card">{{ mentor.displayName }}</span>
            </div>
          </div>
          <div class="card-actions" layout="row" layout-align="start center">
            <button ng-if="!user.mentors[mentor.$id].mentorId"class="lr-link-button black" ng-click="askForMentoring(mentor.$id)">Devenir élève</button>
            <button ng-if="user.mentors[mentor.$id].mentorId === mentor.$id && user.mentors[mentor.$id].status === 'pending'" class="lr-link-button black" disabled>En attente</button>
            <button ng-if="user.mentors[mentor.$id].mentorId === mentor.$id && user.mentors[mentor.$id].status === 'accepted'" class="lr-link-button black" disabled>Rejoindre la room</button>

          </div>
        </div>
      </md-content>
    </div>

  </div>
</div>
