<div layout="row" class="container" layout-align="start start">
  <md-sidenav class="sidebar shadow" layout="column" layout-align="space-between start" class="md-sidenav-left"
              md-component-id="left"
              md-is-locked-open="$mdMedia('gt-sm')">
    <div class="up-container">
      <div class="up" flex layout="column" layout-align="start start">
        <div class="my-info" layout="column" layout-align="center center" layout-padding>
          <div class="edit" layout="row" layout-align="end center">
            <a ng-click="openLeftMenu()" href="#!userProfile"
               title="Editer mon profil"
               class="md-raised md-primary launch" layout="row" layout-align="end center">
              <span class="icon lricon-pencil"></span>
              Éditer
            </a>
          </div>
          <img class="user-pic" ng-src="{{user.photoURL}}"/>
          <div class="user-info">
            <div class="user-name">
              {{ user.displayName }}
            </div>
          </div>
        </div>
      </div>
      <div class="save" layout layout-align="center center">
        Mon contenu
      </div>
    </div>
    <div class="room-list-wrapper" flex layout="column" layout-align="start center">
      <div class="room-list" layout="column" layout-align="start center">
        <div class="room pointer" layout>
          <div layout layout-align="center center" flex>
            <a href="#!/userProfile/my-rooms"  ng-class="isActive == 'myrooms' ? 'active' : ' ' " layout
               layout-align="center center" flex>
              Mes rooms
              <span class="icon lricon-messages margin-left"></span>
            </a>
          </div>
        </div>
        <div ng-if="user.isMentor" class="room pointer" layout>
          <div layout layout-align="center center" flex>
            <a href="#!/userProfile/my-students"  ng-class="isActive == 'mystudents' ? 'active' : ' ' " layout
               layout-align="center center" flex>
              Mes étudiants
              <span class="icon lricon-user margin-left"></span>
            </a>
          </div>
        </div>
        <div ng-if="!user.isMentor" class="room pointer" layout>
          <div layout layout-align="center center" flex>
            <a href="#!/userProfile/my-mentors"  ng-class="isActive == 'mymentors' ? 'active' : ' ' " layout
               layout-align="center center" flex>
              Mes mentors
              <span class="icon lricon-user margin-left"></span>
            </a>
          </div>
        </div>
        <!--<div class="room pointer">
          <div layout layout-align="center center">
            <a href="#!/panel/chatroom/create" ng-show="user.accessLevel >= 20">
              Créer une chatrooms
            </a>
          </div>
        </div>-->
      </div>
    </div>
    <div class="down" layout="column " layout-align="center center">
      <a href="/" ng-click="logout()">Déconnexion<span class="icon lricon-settings margin-left"></span></a>
    </div>
  </md-sidenav>
<div class="content-app mentor" layout="column" layout-align="start start" flex class="chatroom">
    <div class="title-content shadow" layout layout-align="start start">
      <div layout="row" layout-align="end center">
        <h3 class="md-title">Mes mentors</h3>
        <ul class="social" layout="row" layout-align="space-between center">
          <li><a title="Page Facebook de La Ruuche" class="social-facebook" href="https://www.facebook.com/laruuche/"
                 target="_blank"><span class="icon lricon-facebook"></span></a></li>
          <li><a title="Profil Twitter de La Ruuche" class="social-twitter" href="https://twitter.com/LaRuuche"
                 target="_blank"><span class="icon lricon-twitter"></span></a></li>
        </ul>
      </div>
    </div>
    <div class="wrapper room-wrapper arrow" layout="column" layout-align="start start" flex>
      <md-content layout="row" layout-align="start start" class="inset-shadow" layout-wrap>
        <div class="card-room" ng-repeat="mentor in mentors" layout="column" layout-align="center center">
          <div class="card-header" layout="column" layout-align="center center">
            <div>
              <span class="icon lricon-messages"></span>
            </div>
            <div class="card-head er-text">
              <span class="title-card">{{ getDisplayName(mentor.mentorId) }}</span>
            </div>
          </div>
          <div class="card-actions" layout="row" layout-align="start center">
            <!-- pending -->
            <div class="attente" ng-if="mentor.status === 'pending'" ng-disabled="">En attente</div>
            <!-- accepted -->
            <a class="mr-yellow-button accept-mentor" ng-if="mentor.status === 'accepted'"
               ng-click="joinPrivateRoom( mentor.mentorId, user.$id)">Rejoindre la room</a>
            <!-- refused -->
          </div>
        </div>
      </md-content>
    </div>

  </div>
</div>
