<div layout="row" class="container" layout-align="start start">
  <md-sidenav class="sidebar shadow" layout="column" layout-align="space-between start" class="md-sidenav-left"
              md-component-id="left"
              md-is-locked-open="$mdMedia('gt-sm')">
    <div class="up-container">
      <div class="up" flex layout="column" layout-align="start start">
        <div class="my-info" layout="column" layout-align="center center" layout-padding>
          <div class="edit" layout="row" layout-align="end center">
            <a ng-click="openLeftMenu()" href="#!userProfile"
               title="Editer mon profil"
               class="md-raised md-primary launch" layout="row" layout-align="end center">
              <span class="icon lricon-pencil"></span>
              Éditer
            </a>
          </div>
          <img class="user-pic" ng-src="{{user.photoURL}}"/>
          <div class="user-info">
            <div class="user-name">
              {{ user.displayName }}
            </div>
          </div>
        </div>
      </div>
      <div class="save" layout layout-align="center center">
        Mon contenu
      </div>
    </div>
    <div class="room-list-wrapper" flex layout="column" layout-align="start center">
      <div class="room-list" layout="column" layout-align="start center">
        <div class="room pointer" layout>
          <div layout layout-align="center center" flex>
            <a href="#!/userProfile/my-rooms"  ng-class="isActive == 'myrooms' ? 'active' : ' ' " layout
               layout-align="center center" flex>
              Mes rooms
              <span class="icon lricon-messages margin-left"></span>
            </a>
          </div>
        </div>
        <div ng-if="user.isMentor" class="room pointer" layout>
          <div layout layout-align="center center" flex>
            <a href="#!/userProfile/my-students"  ng-class="isActive == 'mystudents' ? 'active' : ' ' " layout
               layout-align="center center" flex>
              Mes étudiants
              <span class="icon lricon-user margin-left"></span>
            </a>
          </div>
        </div>
        <div ng-if="!user.isMentor" class="room pointer" layout>
          <div layout layout-align="center center" flex>
            <a href="#!/userProfile/my-mentors"  ng-class="isActive == 'mymentors' ? 'active' : ' ' " layout
               layout-align="center center" flex>
              Mes mentors
              <span class="icon lricon-user margin-left"></span>
            </a>
          </div>
        </div>
        <div class="room pointer" layout ng-if="user.accessLevel >= 20">
          <div layout layout-align="center center" flex>
            <a href="#!/userProfile/chatroom/create" layout layout-align="center center" flex>
            Créer une chatrooms
            </a>
          </div>
        </div>
        <div class="room pointer" layout ng-if="user.isMentor">
          <div layout layout-align="center center" flex>
            <a href="#!/userProfile/ama/create" layout layout-align="center center" flex>
              Créer mon AMA
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="down" layout="column " layout-align="center center">
      <a href="/" ng-click="logout()">Déconnexion<span class="icon lricon-settings margin-left"></span></a>
    </div>
  </md-sidenav>
  <div class="content-app" layout="column" layout-align="start start" flex class="chatroom">
    <div class="title-content shadow" layout layout-align="start start">
      <div layout="row" layout-align="end center">
        <md-button  ng-click="openLeftMenu()"
                    class="md-fab md-mini menu" hide-gt-sm>
          <span class="icon lricon-more"></span>
        </md-button>
        <h3 class="md-title">Mes rooms</h3>
      </div>

     <!-- <form class="search-bar" layout layout-align="start center">
        <div class="" layout="row" layout-align="start start">
          <div class="search-input" layout layout-align="start center">
            <span class="icon lricon-search"></span>
            <input id="search" class="flex-1" type="search" placeholder="Recherche de mots clefs" flex/>
          </div>
        </div>
      </form>-->
    </div>
    <div class="wrapper room-wrapper arrow" layout="column" layout-align="start start" flex>
      <md-content layout="row" layout-align="start start" class="inset-shadow" layout-wrap>
        <div ng-if="ChatroomsList.publicRooms == 'undefined'">Vous n'avez pas encore enregistré de rooms</div>

        <div class="card-room active" ng-repeat="room in ChatroomsList" ng-click="enterChat(room)" layout="column" layout-align="center center">
          <div class="card-header" layout="column" layout-align="center center">
            <div>
              <span class="icon lricon-messages"></span>
            </div>
            <div class="card-header-text">
              <div>{{getRoomName(room)}}</div>
            </div>
          </div>
          <div class="card-actions" layout="row" layout-align="start center">
            <a layout layout-align="center center" class="lr-yellow-button" ng-click="enterChat(chatroom.$id)">Entrer</a>
          </div>
        </div>
      </md-content>
    </div>

  </div>
</div>
