<div layout="row" class="container" layout-align="start start" ng-if="user">
  <md-sidenav class="sidebar shadow" layout="column" layout-align="space-between start" class="md-sidenav-left"
              md-component-id="left"
              md-is-locked-open="$mdMedia('gt-sm')">
    <div class="up-container">
      <div class="up" flex layout="column" layout-align="start start">
        <div class="my-info" layout="column" layout-align="center center" layout-padding>
          <div class="edit" layout="row" layout-align="end center">
            <a ng-click="openLeftMenu()" href="#!userProfile"
               title="Editer mon profil"
               class="md-raised md-primary launch" layout="row" layout-align="end center">
              Éditer
              <span class="icon lricon-edit margin-left"></span>

            </a>
          </div>
          <img class="user-pic" ng-src="{{user.photoURL}}"/>
          <div class="user-info">
            <div class="user-name">
              {{ user.displayName }}
            </div>
          </div>
        </div>
      </div>
      <div class="save" layout layout-align="center center">
        Mon contenu
      </div>
    </div>
    <div class="room-list-wrapper" flex layout="column" layout-align="start center">
      <div class="room-list" layout="column" layout-align="start center">
        <div class="room pointer" layout>
          <div layout layout-align="center center" flex>
            <a href="#!/userProfile/my-rooms"  ng-class="isActive == 'myrooms' ? 'active' : ' ' " layout
               layout-align="center center" flex>
              Mes rooms
              <span class="icon lricon-messages margin-left"></span>
            </a>
          </div>
        </div>
        <div ng-if="user.isMentor" class="room pointer" layout>
          <div layout layout-align="center center" flex>
            <a href="#!/userProfile/my-students"  ng-class="isActive == 'mystudents' ? 'active' : ' ' " layout
               layout-align="center center" flex>
              Mes étudiants
              <span class="icon lricon-user margin-left"></span>
            </a>
          </div>
        </div>
        <div ng-if="user.isMentor" class="room pointer" layout>
          <div layout layout-align="center center" flex>
            <a href="#!/userProfile/my-ama"  ng-class="isActive == 'myama' ? 'active' : ' ' " layout
               layout-align="center center" flex>
              Mes AMA
              <span class="icon lricon-user margin-left"></span>
            </a>
          </div>
        </div>
        <div ng-if="!user.isMentor" class="room pointer" layout>
          <div layout layout-align="center center" flex>
            <a href="#!/userProfile/my-mentors"  ng-class="isActive == 'mymentors' ? 'active' : ' ' " layout
               layout-align="center center" flex>
              Mes mentors
              <span class="icon lricon-user margin-left"></span>
            </a>
          </div>
        </div>
        <!--<div class="room pointer">
          <div layout layout-align="center center">
            <a href="#!/panel/chatroom/create" ng-show="user.accessLevel >= 20">
              Créer une chatrooms
            </a>
          </div>
        </div>-->
      </div>
    </div>
    <div class="down" layout="column " layout-align="center center">
      <a href="/" ng-click="logout()">Déconnexion<span class="icon lricon-settings margin-left"></span></a>
    </div>
  </md-sidenav>
  <div class="content-app" layout="column" layout-align="start start" flex class="chatroom">
    <div class="title-content shadow" layout layout-align="start start">
      <div layout="row" layout-align="end center">
        <md-button  ng-click="openLeftMenu()"
                    class="md-fab md-mini menu" hide-gt-sm>
          <span class="icon lricon-more"></span>
        </md-button>
        <h3 class="md-title">Mes étudiants</h3>
      </div>
    </div>
    <div class="wrapper room-wrapper arrow" layout="column" layout-align="start start" flex>
      <md-content layout="row" layout-align="start start" class="inset-shadow" layout-wrap>
        <div class="card-room active" ng-repeat="student in students" layout="column" layout-align="center center" >
          <div class="card-header" layout="column" layout-align="center center">
            <div>
              <span class="icon lricon-user"></span>
            </div>
            <div class="card-head er-text" layout="row" layout-align="start center">
              <div>
                <img class="user-pic" ng-src="{{getPhotoUrl(student.studentId)}}"/>
              </div>
              <div class="margin-left" layout="column" layout-align="start start">
                <span class="title-card">{{ getDisplayName(student.studentId) }}</span>
                <span class="subtitle-card">Bac : {{ getTrack(student.studentId) }}</span>
              </div>
            </div>
          </div>
          <div class="card-actions" layout="row" layout-align="start center">
            <!-- pending -->
            <a class="lr-yellow-button" ng-if="student.status === 'pending'" ng-click="acceptStudent(student.studentId)" layout layout-align="center center">Accepter</a>
            <a class="lr-grey-button" ng-if="student.status === 'pending'" ng-click="refuseStudent(student.studentId)" layout layout-align="center center">Refuser</a>
            <!-- accepted -->
            <a class="lr-yellow-button" ng-if="student.status === 'accepted'" ng-click="joinPrivateRoom(user.$id, student.studentId)"  layout layout-align="center center">Discuter</a>
            <!-- refused -->
            <a class="lr-grey-button" ng-if="student.status === 'refused'" ng-disabled="true" layout layout-align="center center">X Refuser</a>
          </div>
        </div>
      </md-content>
    </div>

  </div>
</div>
