<div layout="row" layout-wrap style="padding:30px;">
  <div class="main">
    <div class="sidebar">
      <div>
        <h2>Panel utilisateur</h2>
      </div>

      <div class="my-info">
        <img class="user-pic" ng-src="{{  }}" />
        <div class="user-info">
          <div class="user-name">
            {{ user.displayName }}
          </div>
          <div class="actions">
            <md-button class="md-raise md-primary" ng-href="#!/panel/chatroom/create" ng-show="user.accessLevel >= 20">Créer une chatrooms</md-button>
          </div>
          <div class="options">
            <md-button ng-href="#!profile"
                       title="Editer mon profil"
                       class="md-icon-button launch" >
              <md-icon md-svg-icon="img/icons/launch.svg"></md-icon>
            </md-button>
            <md-button ng-click="logout" class="md-raised md-warn">Déconnexion</md-button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div flex="grow">
    <h3 class="md-title" style="text-align:center;">Rejoindre une chatroom</h3>
  </div>

  <div flex="33">
      <md-card ng-repeat="chatroom in chatrooms.all">
        <md-card-header>
          <md-card-avatar>
            <md-icon class="md-avatar-icon" md-svg-icon="img/icons/menu.svg"></md-icon>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">{{ chatroom.name }}</span>
            <span class="md-subhead">Mentor : {{ chatrooms.getCreatorName(chatroom.createdBy)}}</span>
          </md-card-header-text>
        </md-card-header>
        <img ng-src="{{imagePath}}" class="md-card-image" alt="Apb ça pue le caca">
        <md-card-actions layout="row" layout-align="start center">
          <md-button ng-click="enterChat(chatroom.$id)">Rejoindre la room</md-button>
        </md-card-actions>
        <md-card-content>
          <p>
            Tags #APB #CACA
          </p>
        </md-card-content>
      </md-card>
  </div>
  <div flex="33">

  </div>
  <div flex="33">

  </div>


</div>
