<div layout="row" class="container" layout-align="start start">
  <md-sidenav class="sidebar shadow" layout="column" layout-align="space-between start" class="md-sidenav-left"
              md-component-id="left"
              md-is-locked-open="$mdMedia('gt-sm')">
    <div class="up-container">
      <div class="up" flex layout="column" layout-align="start start">
        <div class="my-info" layout="column" layout-align="center center" layout-padding>
          <div class="edit" layout="row" layout-align="end center">
            <a ng-click="openLeftMenu()" href="#!userProfile"
               title="Editer mon profil"
               class="md-raised md-primary launch" layout="row" layout-align="end center">
              <span class="icon lricon-pencil"></span>
              Éditer
            </a>
          </div>
          <img class="user-pic" ng-src="{{user.photoURL}}"/>
          <div class="user-info">
            <div class="user-name">
              {{ user.displayName }}
            </div>
          </div>
        </div>
      </div>
      <div class="save" layout layout-align="center center">
        Mon contenu
      </div>
    </div>
    <div class="room-list-wrapper" flex layout="column" layout-align="start center">
      <div class="room-list" layout="column" layout-align="start center">
        <div class="room pointer" layout>
          <div layout layout-align="center center" flex>
            <a href="#!/userProfile/my-rooms" ng-class="{'active': $route.current.active == 'myrooms'}" layout
               layout-align="center center" flex>
              Mes rooms
            </a>
          </div>
        </div>
        <div ng-if="user.isMentor" class="room pointer" layout>
          <div layout layout-align="center center" flex>
            <a href="#!/userProfile/my-students" ng-class="{'active': $route.current.active == 'mystudents'}" layout
               layout-align="center center" flex>
              Mes étudiants
            </a>
          </div>
        </div>
        <div ng-if="!user.isMentor" class="room pointer" layout>
          <div layout layout-align="center center" flex>

            <a href="#!/userProfile/my-mentors" ng-class="{'active': $route.current.active == 'mymentors'}" layout
               layout-align="center center" flex>
              Mes mentors
            </a>
          </div>
        </div>
        <!--<div class="room pointer">
          <div layout layout-align="center center">
            <a href="#!/panel/chatroom/create" ng-if="user.accessLevel >= 20">
              Créer une chatrooms
            </a>
          </div>
        </div>-->
      </div>
    </div>
    <div class="down" layout="column " layout-align="center center">
      <a href="/" ng-click="logout()">Déconnection<span class="icon lricon-settings margin-left"></span></a>
    </div>
  </md-sidenav>
  <div class="chat content-app" layout="column" layout-align="start start" flex>
    <div class="header-room shadow" layout="row" layout-align="space-between center">
      <md-button  ng-click="openLeftMenu()"
                  class=" md-fab md-mini menu-2" hide-gt-sm>
        <span class="icon lricon-more"></span>
      </md-button>
      <a class="back" href="#!/rooms" layout layout-align="start center"><span class="icon lricon-back"></span><span class="mobile">Retour</span></a>
      <div class="room-title" flex>
        <h2>{{ chatroomName }}</h2>
      </div>
      <button class="lr-add-button" layout="row" layout-align="center center" ng-click="addRoomToUser(chatroom.$id)"><span class="icon lricon-plus"></span><span class="mobile">ajouter cette room</span></button>
    </div>
    <div class="messengerBox" flex scroll-bottom="messages">
      <div class="message-wrapper">
        <h5>Exprime toi !</h5>
        <div class="message" ng-repeat="message in messages">
          <div class="message-container" ng-if="getActiveMessage(message.uid)">
            <div layout="column" layout-align="start end" class="{{getActiveMessage(message.uid)}}">
              <div class="message-info" layout layout-align="start center">

                <div class="right" layout="column" layout-align="start start">
                  <div class="user-name" layout="row" layout-align="end center">
                    <span class="timestamp margin-right">{{ message.timestamp | date:'h:mm ' }}</span>
                    {{ getUserName(message.uid) }}
                  </div>
                </div>
                <div class="left margin-left">
                  <img alt="photo profil user" src="{{getPhotoURL(message.uid)}}"/>
                </div>
              </div>
              <div class="message-text">
                <p ng-if="message.type == 'text' " layout="row" layout-align="start center">{{ message.body }}</p>
                <img class="ruuche-gif" ng-if="message.type == 'gif' " src="{{ message.body }}">
              </div>
            </div>

          </div>
          <div class="message-container" ng-if="!getActiveMessage(message.uid)">
            <div layout="column" layout-align="start start">
              <div class="message-info" layout layout-align="start center">
                <div class="left margin-right">
                  <img alt="photo profil user" src="{{getPhotoURL(message.uid)}}"/>
                </div>
                <div class="right" layout="column" layout-align="start start">
                  <div class="user-name" layout="row" layout-align="start center">
                    {{ getUserName(message.uid) }}
                    <span class="timestamp margin-left">{{ message.timestamp | date:'h:mm ' }}</span>
                  </div>
                </div>
              </div>
              <div class="message-text">
                <p ng-if="message.type == 'text' " layout="row" layout-align="start center">{{ message.body }}</p>
                <img class="ruuche-gif" ng-if="message.type == 'gif' " src="{{ message.body }}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="send-message shadow-top" layout layout-align="center center">
      <video id="remoteaudio" autoplay style="display: none"></video>
      <audio id="localaudio" muted></audio>
      <form ng-submit="sendMessage()">
        <input ng-model="message" rows="5"
               placeholder="Message" id="input-message"/>
      </form>
    </div>
  </div>
</div>
