<div layout="row" layout-align="center">
  <md-content layout-padding ng-show="firebaseUser" flex="100">
    <h3 class=".md-headline">Vous êtes à l'entrée de la Ruuche !</h3>
    <p>Une dernière étape avant de nous rejoindre.</p>
    <form ng-submit="$event.preventDefault()" name="searchForm">
      <img ng-src="{{user.photoURL}}" class="profil-picture" alt="Photo de profil de {{ firebaseUser.displayName }}">

      <md-input-container class="md-block" flex-gt-sm>
        <label>Prénom :</label>
        <input ng-model="user.firstName">
      </md-input-container>

      <md-input-container class="md-block" flex-gt-sm>
        <label>Nom :</label>
        <input ng-model="user.lastName">
      </md-input-container>

      <md-checkbox ng-model="user.isMentor" aria-label="isMentor">
        Je souhaite devenir un mentor
      </md-checkbox>
      <md-input-container ng-if="!user.isMentor" class="md-block" flex-gt-sm>
        <label>Mon bac :</label>
        <md-select ng-model="user.track" class="md-no-underline" placeholder="Ma classe :">
          <md-option ng-repeat="track in tracks" ng-value="track">
            {{ track }}
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container md-no-float class="md-block">
        <input ng-model="user.phone" type="text" placeholder="Numéro de téléphone">
      </md-input-container>
      <!--Mon domaine de compétences-->
      <label>Mes domaines d'expertise :</label>
      <md-chips
        ng-model="tags"
        placeholder="Espace pour ajouter"
        secondary-placeholder="Espace pour ajouter"
        md-separator-keys="ProfileCtrl.customKeys">
      </md-chips>
      <md-button class="md-raised md-primary" ng-click="updateProfile()">Je rejoins la Ruuche</md-button>

    </form>
  </md-content>
</div>
