<div layout="row" class="container" layout-align="start start">
  <md-sidenav class="sidebar shadow" layout="column" layout-align="space-between start" class="md-sidenav-left"
              md-component-id="left"
              md-is-locked-open="$mdMedia('gt-sm')">
    <div class="up-container">
      <div class="up" flex layout="column" layout-align="start start">
        <div class="header-app" layout="row" layout-align="center center">
          <span class="icon lricon-picto-logo"></span>
        </div>
        <div class="back-home" layout="row" layout-align="start center" ng-href="#/">
          <span class="icon lricon-back"></span>
          <span>Accueil</span>
        </div>
        <div class="actions">
          <!--<a ng-if="!user.isMentor" href="#!/userProfile/findmymentor">
            Trouver un mentor
          </a>-->
          <a ng-if="user.isMentor" href="#!/userProfile/my-students">
            Mes étudiants
          </a>
          <a ng-if="!user.isMentor" href="#!/userProfile/my-mentors">
            Mes mentors
          </a>
          <a href="#!/userProfile/my-rooms">
            Mes rooms
          </a>
          <a href="#!/panel/chatroom/create" ng-show="user.accessLevel >= 20">
            Créer une chatrooms
          </a>
        </div>
        <div class="my-info" layout="column" layout-align="center center" layout-padding>
          <div class="edit" layout="row" layout-align="end center">
            <a ng-click="editButton($event)"
               title="Editer mon profil"
               class="md-raised md-primary launch" layout="row" layout-align="end center">
              <span class="icon lricon-edit"></span>
              Éditer
            </a>
          </div>
          <img class="user-pic" ng-src="{{user.photoURL}}"/>
          <div class="user-info">
            <div class="user-name">
              {{ user.displayName }}
            </div>
          </div>
        </div>
        <div class="save" layout layout-align="center center">
          alvéoles enregistrées
        </div>
      </div>
    </div>
    <div class="room-list-wrapper" flex layout="column" layout-align="start center">
      <div class="room-list" layout="column" layout-align="start center">
        <div class="room pointer" ng-repeat="room in ChatroomsList" ng-click="enterChat(room)">
          <div layout layout-align="center center">
            <div>{{getRoomName(room)}}</div> <span class="icon lricon-messages margin-left"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="down" layout="column " layout-align="center center">
        <a href="/" ng-click="logout()">Déconnection<span class="icon lricon-settings margin-left"></span></a>
    </div>
  </md-sidenav>
  <div class="content-app" layout="column" layout-align="start start" flex class="chatroom">
    <div class="title-content shadow" layout layout-align="start start">
      <div layout="row" layout-align="end center">
        <md-button  ng-click="openLeftMenu()"
                   class="md-fab md-mini menu" hide-gt-sm>
          <span class="icon lricon-more"></span>
        </md-button>
        <h3 class="md-title">Rejoindre une alvéole</h3>
        <ul class="social" layout="row" layout-align="space-between center">
          <li><a title="Page Facebook de La Ruuche" class="social-facebook" href="https://www.facebook.com/laruuche/" target="_blank"><span class="icon lricon-facebook"></span></a></li>
          <li><a title="Profil Twitter de La Ruuche" class="social-twitter"href="https://twitter.com/LaRuuche" target="_blank"><span class="icon lricon-twitter"></span></a></li>
        </ul>
      </div>

      <!--<form class="search-bar" layout layout-align="start center">
        <div class="" layout="row" layout-align="start start">
          <div class="search-input" layout layout-align="start center">
            <span class="icon lricon-search"></span>
            <input id="search" class="flex-1" type="search" placeholder="Recherche de mots clefs" flex/>
          </div>
        </div>
      </form>-->
    </div>
    <div class="accept-student-notif" ng-if="notifications.length > 0" ng-repeat="notification in notifications">
        <md-button ng-click="closeNotif(notification.studentId, $index)" class="close-cross">x</md-button>
        <div layout="row"  layout-align="center center">
          <img flex="20" class="md-user-avatar" src="{{notification.studentPhotoURL}}"/>
          <div flex="70">
            <p class="title-notif">{{notification.displayName}} / {{ notification.track}}</p>
            <span class="sub-notif">J'aimerais devenir ton élève !</span>
          </div>
        </div>
        <div layout="row"  layout-align="center center">
          <md-button class="md-raised black accept-mentor"  ng-click="acceptStudent(notification.studentId, $index)">Accepter</md-button>
          <md-button class="md-raised black refuse-mentor"  ng-click="refuseStudent(notification.studentId, $index)">Refuser</md-button>
        </div>
    </div>
    <div class="wrapper room-wrapper" layout="column" layout-align="start start" flex>
      <md-content layout="row" layout-align="start start" class="inset-shadow" layout-wrap>
        <div class="card-room {{chatroom.active}}" ng-repeat="chatroom in chatrooms.publicRooms" layout="column" layout-align="center center">
        <div class="card-header" layout="column" layout-align="center center">
          <div>
            <span class="icon lricon-messages"></span>
          </div>
          <div class="card-header-text">
            <span class="title-card">{{ chatroom.name }}</span>
          </div>
        </div>
        <div class="card-actions" layout="row" layout-align="start center">
          <button class="lr-link-button black" ng-click="enterChat(chatroom.$id)">Rejoindre la room</button>
        </div>
      </div>
        <div class="card-room inactive-room" layout="column" layout-align="center center">
          <div class="card-header" layout="column" layout-align="center center">
            <div>
              <span class="icon lricon-lock"></span>
            </div>
            <div class="card-header-text">
              <span class="title-card">Disponible soon !</span>
            </div>
          </div>

        </div>
      </md-content>
    </div>

  </div>
</div>
