<div class="main-content">
  <div class="header-main">
      <div class="container" flex layout="column" layout-align="space-around center">
        <div class="navbar-header" layout="row" layout-align="center center">
          <a href="#/"><img class="logo" src="assets/images/logo-inline.svg" alt="logo la ruuche"></a>
        </div>
        <ul layout="row" class="social" layout-align="space-between center">
          <li><a title="Page Facebook de La Ruuche" class="social-facebook" href="https://www.facebook.com/laruuche/"
                 target="_blank"><span class="icon lricon-facebook"></span></a></li>
          <li><a title="Profil Twitter de La Ruuche" class="social-twitter" href="https://twitter.com/LaRuuche"
                 target="_blank"><span class="icon lricon-twitter"></span></a></li>
        </ul>
        <div layout="column" layout-align="start start">
          <h1>Ta conseillère d'orientation en mieux</h1>
          <p>la ruuche est la première plateforme de conseil pour les étudiants par des étudiants</p>
          <div layout>
            <ul layout="row" layout-align="start center" class="cta-list">
              <li><a class="lr-yellow-button" href="#!login">Essayer</a></li>
            </ul>
          </div>
        </div>
        <!--<div ng-show="firebaseUser">
          <p>Salut, {{ firebaseUser.displayName }}</p>
          <a ng-href="#!panel">Ruuche Rooms</a>
          <a ng-href="#!profile">Profil</a>
        </div>-->
      </div>
  </div>
  <div class="video">
    <div class="section-container layout-column-space-around-center">
      <!--<span id="playVideo" class="icon lricon-{{icon}} pointer"></span>-->
      <div class="playVideoInLightbox player-action"></div>
      <span class="hive1 hive">hive</span>
      <span class="hive2 hive">hive</span>
    </div>
  </div>
  <div class="fourthArticle">
    <div class="section-container">
      <div class="title-container" layout="row" layout-align="center center">
        <h1>Comment ca marche</h1>
      </div>
      <div class="articleWrapper layout-{{direction}}">
        <div ng-repeat="article in homeTemplate" layout="row" layout-align="center center">
          <div class="article-container" layout="row" layout-align="{{article.alignement}}">
            <article class="{{article.class}}" layout="row">
              <div>
                <div class="triangle  triangle-2"><span class="icon lricon-{{article.title}} number-etape"></span>triangle
                </div>
              </div>
              <p class="lr-shadow">
                <span class="icon lricon-{{article.icon}}"></span>
                <span class="text-fonctionality">{{article.paragraphe}}</span>
              </p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer" layout="row " layout-align="space-between center" layout-padding>
    <a href="#!about" class="lr-link-button condition">conditions générale d'utilisation</a>
    <p><span class="glyphicon glyphicon-heart"></span> Made by La Ruuche for students © 2017</p>
  </div>
</div>
