<div class="main-content">
  <div class="article1" layout="column" layout-align="space-around flex-start">
    <h1>Qu'est ce que la ruuche</h1>
    <p>la ruuche bla bla bla</p>
    <div layout flex>
      <ul layout="row" layout-align="start center" class="cta-list">
        <li><a class="lr-link-button" href="#!login">Rejoindre</a></li>
        <li><a class="lr-link-button" href="/#comment">comment ca marche</a></li>
      </ul>
    </div>
  </div>
  <div class="video">
    <div class="section-container layout-column-space-around-center">
      <!--<span id="playVideo" class="icon lricon-{{icon}} pointer"></span>-->
      <div class="playVideoInLightbox player-action"></div>
      <span class="hive1 hive">hive</span>
      <span class="hive2 hive">hive</span>
    </div>
  </div>
  <div class="fourthArticle">
    <div class="section-container">
      <div class="title-container" layout="row" layout-align="center center">
        <h1>Comment ca marche</h1>
      </div>
      <div class="articleWrapper layout-{{direction}}">
        <div ng-repeat="article in homeTemplate" layout="row" layout-align="center center">
          <div class="article-container" layout="row" layout-align="{{article.alignement}}">
            <article class="{{article.class}}" layout="row">
              <div>
                <div class="triangle  triangle-2"><span class="icon lricon-{{article.title}} number-etape"></span>triangle</div>
              </div>
              <p class="lr-shadow">
                <span class="icon lricon-{{article.icon}}"></span>
                <span class="text-fonctionality">{{article.paragraphe}}</span>
              </p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
