<div layout="row" class="container" layout-align="start start">
  <div class="content-app" layout="column" layout-align="start start" flex class="chatroom">
    <div class="title-content shadow" layout layout-align="start start">
      <div layout="row" layout-align="end center">
        <h3 class="md-title">Rejoindre une alvéole</h3>
      </div>

      <form class="search-bar" layout layout-align="start center">
        <div class="" layout="row" layout-align="start start">
          <div class="search-input" layout layout-align="start center">
            <span class="icon lricon-search"></span>
            <input id="search" class="flex-1" type="search" placeholder="Recherche de mots clefs" flex/>
          </div>
        </div>
      </form>
    </div>
    <div class="accept-student-notif" ng-if="notifications.length > 0" ng-repeat="notification in notifications">
        <md-button ng-click="closeNotif(notification.studentId, $index)" class="close-cross">x</md-button>
        <div layout="row"  layout-align="center center">
          <img flex="20" class="md-user-avatar" src="{{notification.studentPhotoURL}}"/>
          <div flex="70">
            <p class="title-notif">{{notification.displayName}} / {{ notification.track}}</p>
            <span class="sub-notif">J'aimerais devenir ton élève !</span>
          </div>
        </div>
        <div layout="row"  layout-align="center center">
          <md-button class="md-raised black accept-mentor"  ng-click="acceptStudent(notification.studentId, $index)">Accepter</md-button>
          <md-button class="md-raised black refuse-mentor"  ng-click="refuseStudent(notification.studentId, $index)">Refuser</md-button>
        </div>
    </div>
    <div class="wrapper room-wrapper" layout="column" layout-align="start start" flex>
      <md-content layout="row" layout-align="start start" class="inset-shadow" layout-wrap>
        <div class="card-room {{chatroom.active}}" ng-repeat="chatroom in chatrooms.publicRooms" layout="column" layout-align="center center">
        <div class="card-header" layout="column" layout-align="center center">
          <div>
            <span class="icon lricon-messages"></span>
          </div>
          <div class="card-header-text">
            <span class="type-card">{{ chatroom.type }}</span>

            <span class="title-card">{{ chatroom.name }}</span>
          </div>
        </div>
        <div class="card-actions" layout="row" layout-align="start center">
          <a layout layout-align="center center" class="lr-blue-button" ng-click="enterChat(chatroom.$id)">Rejoindre la room</a>
        </div>
      </div>
        <div class="card-room inactive-room" layout="column" layout-align="center center">
          <div class="card-header" layout="column" layout-align="center center">
            <div>
              <span class="icon lricon-lock"></span>
            </div>
            <div class="card-header-text">
              <span class="title-card">Disponible soon !</span>
            </div>
          </div>
        </div>
      </md-content>
    </div>

  </div>
</div>
